<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= t('navigation.main_title') %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li> Boton 1 </li>
        <li> Boton 2 </li>
      </ul>
    </nav>
  </div>
</div>
