<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%=@products.length %></h3>
          <p>Productos</p>
        </div>
        <div class="icon">
          <i class="fa fa-opencart"></i>
        </div>
        <a href="/products" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green-gradient">
        <div class="inner">
          <h3><%=@requests.length %></h3>
          <p>Productos en consumo</p>
        </div>
        <div class="icon">
          <i class="fa fa-plus-square-o"></i>
        </div>
        <a href="/requests" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-orange-active">
        <div class="inner">
          <h3><%=@users.length %></h3>
          <p>Usuarios</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <%if current_user.rol == 1 %>
          <a href="/users" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
        <%else %>
          <a class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
        <%end %>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-red-gradient">
        <div class="inner">
          <h3><%=@products_low.length %></h3>
          <p>Productos stock bajo</p>
        </div>
        <div class="icon">
          <i class="fa fa-cart-arrow-down"></i>
        </div>
        <a href="#" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
  <span class="ir-arriba fa fa-arrow-circle-up"></span>
</section>