<%if @ListaOferta.length > 0 %>
  $("#ofertas tbody tr").remove();

  <%@ListaOferta.each do |oferta| %>
    $('#ofertas').children('tbody').append(' <%= j render "row", ofert: oferta %>');
  <%end %>

  $("html,body").animate({
      scrollTop: $("#marca").offset().top
  }, 1000);

  var html ="<div class='box-body mensaje'> \n" +
      "       <div class='alert alert-info alert-dismissible'> \n" +
      "         <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>\n" +
      "         <h5 ><span class='icon fa fa-info'></span> <b> Cat치logos</b></h5>\n" +
      "         Buscando cat치logos disponibles\n" +
      "       </div> \n" +
      "     </div>"


  html = $.parseHTML( html);

  $("#alerta").append(html);

  $("#alerta").hide().fadeIn(1000);

  $(".mensaje").fadeOut(10000, function(){
      $(this).remove();//Eliminar la tarjeta asociada al elemento que se acaba de seleccionar
  });

<%else%>

  $("html,body").animate({
      scrollTop: $("#marca").offset().top
  }, 1000);

var html ="<div class='box-body mensaje'> \n" +
    "       <div class='alert alert-danger alert-dismissible'> \n" +
    "         <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>\n" +
    "         <h5><i class='fa fa-info'></i>  <b>Cat치logos</b></h5>\n" +
    "         No hay cat치logos disponibles\n" +
    "       </div> \n" +
    "     </div>"


  html = $.parseHTML( html);

  $("#alerta").append(html);

  $("#alerta").hide().fadeIn(1000);

  $("#ofertas tbody tr").remove();

  $(".mensaje").fadeOut(10000, function(){
      $(this).remove();//Eliminar la tarjeta asociada al elemento que se acaba de seleccionar
  });

<%end %>