<section class="content-header">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <h1>
        Productos
        <small>Listado de productos registrados</small>
      </h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%=link_to '<span class="fa fa-plus-circle"></span>  Añadir Producto'.html_safe, new_product_path, remote: true ,class: "btn btn-primary pull-right"%>
    </div>
  </div>
</section>
<section class="content">
  <div class="row" id="container_products">
    <%=render @products %>
  </div>
</section>