<footer class="main-footer" >
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.5.2
  </div>
  <b>Hecho por:</b> Cristobal Saldias Rojas <a href="https://github.com/cirssax" target="_blank">@GitHub</a>
</footer>
